/* Colors */
$primary-color: #39cdcc;
$secondary-color: #213f7d;
$text-color: #545f7d;
$background-color: #fbfbfb;
$border-color: rgba(84, 95, 125, 0.15);

/* Typography */
$font-family: "Work Sans", sans-serif;
$font-size-base: 16px;

/* Radius */
$radius-input: 5px;
$radius-button: 8px;

/* Font weights */
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;




