@use "../../styles/variables" as *;

.usersActions {
  position: absolute;
  right: 0;
  top: calc(100% + 8px);
  width: 180px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 30;
  padding: 10px 0;

  button {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    background: transparent;
    border: 0;
    font-size: 14px;
    color: $secondary-color;
    cursor: pointer;

    &:hover {
      background: rgba(33, 63, 125, 0.05);
    }
  }
}

